In [1]:
# Import followed by Name of library and add a shortcut name 'np'
import numpy as np

In [2]:
# pyplot is a module in matplotlib
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

In [4]:
# pass the data from file into a variable 'dataset'
dataset = pd.read_csv('Import_Missing_Dataset.csv')

In [42]:
dataset

       Name  Age Gender    Salary House
0       Nat   21      F   20000.0    No
1  Michelle   61      M   80000.0   Yes
2       Ben   34      M       NaN    No
3       Joe   56      M   60000.0   Yes
4     Nancy   42      F   90000.0   Yes
5   Alfonso   51      M  100000.0   Yes
6  Jennifer   28      F   50000.0    No
7       Raj   67      M       NaN   Yes
8    Nathan   52      M  120000.0   Yes

Missing data is represented as Nan in python. We can see two rows- 2 and 7 have missing salaries.

In [43]:
X = dataset.iloc[:, 0:4]
y = dataset.iloc[:, -1:]

In [44]:
print(X)

       Name  Age Gender    Salary
0       Nat   21      F   20000.0
1  Michelle   61      M   80000.0
2       Ben   34      M       NaN
3       Joe   56      M   60000.0
4     Nancy   42      F   90000.0
5   Alfonso   51      M  100000.0
6  Jennifer   28      F   50000.0
7       Raj   67      M       NaN
8    Nathan   52      M  120000.0

In [45]:
print(y)

  House
0    No
1   Yes
2    No
3   Yes
4   Yes
5   Yes
6    No
7   Yes
8   Yes

In [46]:
from sklearn.impute import SimpleImputer

SimpleImputer is an Imputation transformer for completing missing values.

In [30]:
# Create an object of the class SimpleImputer and replace the missing salaries with the average salary
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

Call the class  SimpleImputer 
missing_values: The placeholder for the missing values.
Strategy: Imputation strategy. Ex:
    mean(default): replace missing values using the mean of the column
    most_frequent: replace missing values with most frequent

In [34]:
imputer.fit(X[:, 3:])

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

Fit method will look for the missing values and compute the Mean. Pass the rows where missing data has to be searched and computed.

In [39]:
xy = imputer.transform(X[:, 3:])

In [40]:
X[:, 3:] = xy

Transform method will actually replace the missing values.
The above statement, searches all the rows of our X dataset and column 3 i.e Salary and computes the Mean 

But this value has to be actually replaced in our dataset X. hence xy is passed to our missing row.
Alternatively, we can also write it as:
X[:, 3:] = imputer.transform(X[:, 3:])

In [41]:
print(X)

[['Nat' 21 'F' 20000.0]
 ['Michelle' 61 'M' 80000.0]
 ['Ben' 34 'M' 74285.71428571429]
 ['Joe' 56 'M' 60000.0]
 ['Nancy' 42 'F' 90000.0]
 ['Alfonso' 51 'M' 100000.0]
 ['Jennifer' 28 'F' 50000.0]
 ['Raj' 67 'M' 74285.71428571429]
 ['Nathan' 52 'M' 120000.0]]

Now, when we pring our dataset X, we see the missing values being replaced by the mean of the column.